<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
		<conectionStrings>
			<add name="Cadena de conexion" connectionString=".Server=./SQLEXPRESS; DataBase=P5_2023_1; INTEGRATED SECURITY = FALSE; User Id= Password= " />
		</conectionStrings>	
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    
</startup>
</configuration>